* {
  margin: auto;
  box-sizing: border-box;
}

header {
  height: 120px;
  width: fit-content;

  background-color: whitesmoke;
}

section {
  background-color: aliceblue;
  padding: 15px;
  margin: 5px;
  display: flex;
  height: auto;
  width: auto;

  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  flex-direction: row;
}
ul {
  display: grid;
  grid-template-rows: repeat(1, 2fr);
  margin: auto;

  justify-content: center;
}

li {
  border: none;
  border-radius: 7%;
  background-color: orange;
  list-style-type: none;
  height: 5rem;
  width: 10rem;
  margin: 2rem;

  transition: background-color 1.5s 500ms;

  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: wrap;
}

li:hover {
  background-color: orangered;
}
section {
  margin-top: 3rem;
}
div {
  height: 6rem;
  width: 8rem;
  background-color: cadetblue;
  border: none;
  border-radius: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: wrap;
}
